---
import '../styles/global.css';
import Question from '../components/question.astro';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title> Libercuesta </title>
	</head>
	<body>
	</body>
</html>
